.footer {
  color: white;
}

.footer__text {
  margin-top: 7.7%;
  margin-bottom: 7.1%;
  font-size: 18px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 775px) {
  .footer__text {
    font-size: 14px;
  }
}
