.locations {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  max-width: 880px;
  justify-content: center;
  gap: 20px 17px;
  margin: 51px auto 0;
}

.locations__card {
  background-color: white;
  width: 282px;
  height: 361px;
  border-radius: 10px;
}

.locations__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.locations__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.locations__title {
  margin: 0;
}

.locations__like-icon {
}
