.profile {
  max-width: 880px;
  /* max-height: 120px; */
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__pic {
  border-radius: 50%;
  margin-right: 30px;
}

.profile__container {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
}

.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: subtitle;
}

.profile__edit-button {
  grid-area: button;
  background-image: url("../images/edit-icon.svg");
  background-color: black;
  height: 24px;
  width: 24px;
  border: 1px white;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background-image: url("../images/add-icon.svg");
  background-color: black;
  height: 50px;
  width: 150px;
  border: 2px white;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile__container {
    grid-template-columns: minmax(auto, 196px) auto;
    row-gap: 14px;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__subtitle {
    font-size: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: contain;
  }
}

@media screen and (max-width: 597px) {
  .profile {
    justify-content: center;
  }

  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
    background-image: url(../images/wide-add.svg);
  }
}

@media screen and (max-width: 429px) {
  .profile__pic {
    margin: 0 auto 30px;
  }

  .profile__container {
    justify-content: center;
    margin: 0 auto;
  }
}
