.profile {
  max-width: 880px;
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__image-container {
  position: relative;
}

.profile__image-container:hover > .profile__pic {
  opacity: 50%;
}

.profile__image-container:hover > .profile__pic-edit {
  display: block;
}

.profile__pic {
  border-radius: 50%;
  margin-right: 30px;
  max-height: 120px;
  max-width: 120px;
}

.profile__pic-edit {
  position: absolute;
  background-image: url("../images/edit-icon2.svg");
  background-color: transparent;
  height: 24px;
  width: 24px;
  top: 48px;
  left: 48px;
  border: none;
  display: none;
}

.profile__container {
  display: grid;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  grid-template-columns: minmax(auto, 375px) auto;
  align-items: center;
  column-gap: 18px;
}

.profile__name {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  grid-area: title;
}

.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
  grid-area: subtitle;
}

.profile__edit-button {
  grid-area: button;
  background-image: url("../images/edit-icon.svg");
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: 1px white;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button {
  background-image: url("../images/add-icon.svg");
  background-color: transparent;
  height: 50px;
  width: 150px;
  border: 2px white;
  border-radius: 2px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .profile__container {
    grid-template-columns: minmax(auto, 196px) auto;
    gap: 14px 10px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__subtitle {
    font-size: 14px;
    max-width: 210px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: contain;
  }
}

@media screen and (max-width: 582px) {
  .profile {
    justify-content: center;
  }

  .profile__add-button {
    margin: 36px auto 0;
    width: 282px;
    background-image: url(../images/wide-add.svg);
  }
}

@media screen and (max-width: 429px) {
  .profile__pic {
    margin: 0 auto 30px;
  }

  .profile__container {
    justify-content: center;
    margin: 0 auto;
    min-width: 282px;
  }

  .profile__name {
    text-align: center;
  }

  .profile__subtitle {
    margin: auto auto;
  }
}
